html {
    background-color: ##ADCAD6;
}

body {
    font-size: 25px;
}

.tabela {
    color: #fff;
    width: 100%;
    max-width: 70%;
    text-align: center;
    margin: auto;
}

.titulo {
    text-align: center;
    background-color: #BE92A2;
    max-width: 70%;
    margin: auto;
}

.subtitulo {
    text-align: center;
}

.cor-cabecalho-moda {
    background-color: #bb86fc;
    color: white;
}

.cor-cabecalho-casa {
    background-color: #00C4B4;
    color: white;
}

.cor-valores {
    background-color: #424250;
    color: white;
}